USE [master]
GO
/****** Objeto: Database [DB_Salon] Fecha de script: 2/8/2026 3:50:06 p. m. ******/
CREATE DATABASE [DB_Salon]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_Salon', FILENAME = N'E:\Programa pc\MSSQL17.MSSQLSERVER\MSSQL\DATA\DB_Salon.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_Salon_log', FILENAME = N'E:\Programa pc\MSSQL17.MSSQLSERVER\MSSQL\DATA\DB_Salon_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_Salon].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_Salon]
GO
/****** Objeto: Table [dbo].[Citas] Fecha de script: 2/8/2026 3:50:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Citas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_Clientes] [int] NOT NULL,
	[id_Servicios] [int] NOT NULL,
	[id_Estilista] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Estado] [nvarchar](30) NOT NULL,
	[Deposito] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Clientes] Fecha de script: 2/8/2026 3:50:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellido] [nvarchar](120) NOT NULL,
	[Telefono] [nvarchar](25) NOT NULL,
	[Correo] [nvarchar](200) NOT NULL,
	[Cedula] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Clientes_Correo] UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Estilista] Fecha de script: 2/8/2026 3:50:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estilista](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellido] [nvarchar](120) NOT NULL,
	[Telefono] [nvarchar](25) NOT NULL,
	[Correo] [nvarchar](200) NOT NULL,
	[Especialidad] [nvarchar](200) NOT NULL,
	[Cedula] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Estilista_Correo] UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[HorarioEstilista] Fecha de script: 2/8/2026 3:50:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HorarioEstilista](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_Estilista] [int] NOT NULL,
	[DiaSemana] [tinyint] NOT NULL,
	[HoraInicio] [time](7) NOT NULL,
	[HoraFin] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Pagos] Fecha de script: 2/8/2026 3:50:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_Citas] [int] NULL,
	[Monto] [decimal](10, 2) NOT NULL,
	[Metodo_DePago] [nvarchar](100) NOT NULL,
	[FechaPago] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Servicios] Fecha de script: 2/8/2026 3:50:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Tipo_DeServicio] [nvarchar](300) NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[DuracionMinutos] [int] NOT NULL,
	[Subtipo_DeServicio] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuarios] Fecha de script: 2/8/2026 3:50:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [nvarchar](50) NOT NULL,
	[Contrasena] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Usuarios_Usuario] UNIQUE NONCLUSTERED 
(
	[Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Citas_Fecha] Fecha de script: 2/8/2026 3:50:06 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Citas_Fecha] ON [dbo].[Citas]
(
	[Fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Clientes_Cedula] Fecha de script: 2/8/2026 3:50:06 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Clientes_Cedula] ON [dbo].[Clientes]
(
	[Cedula] ASC
)
WHERE ([Cedula] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Estilista_Cedula] Fecha de script: 2/8/2026 3:50:06 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Estilista_Cedula] ON [dbo].[Estilista]
(
	[Cedula] ASC
)
WHERE ([Cedula] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Citas] ADD  DEFAULT ((250)) FOR [Deposito]
GO
ALTER TABLE [dbo].[Pagos] ADD  DEFAULT (getdate()) FOR [FechaPago]
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD  CONSTRAINT [FK_Citas_Clientes] FOREIGN KEY([id_Clientes])
REFERENCES [dbo].[Clientes] ([id])
GO
ALTER TABLE [dbo].[Citas] CHECK CONSTRAINT [FK_Citas_Clientes]
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD  CONSTRAINT [FK_Citas_Estilista] FOREIGN KEY([id_Estilista])
REFERENCES [dbo].[Estilista] ([id])
GO
ALTER TABLE [dbo].[Citas] CHECK CONSTRAINT [FK_Citas_Estilista]
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD  CONSTRAINT [FK_Citas_Servicios] FOREIGN KEY([id_Servicios])
REFERENCES [dbo].[Servicios] ([id])
GO
ALTER TABLE [dbo].[Citas] CHECK CONSTRAINT [FK_Citas_Servicios]
GO
ALTER TABLE [dbo].[HorarioEstilista]  WITH CHECK ADD FOREIGN KEY([id_Estilista])
REFERENCES [dbo].[Estilista] ([id])
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD FOREIGN KEY([id_Citas])
REFERENCES [dbo].[Citas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD  CONSTRAINT [CK_Citas_Deposito] CHECK  (([Deposito]>=(0)))
GO
ALTER TABLE [dbo].[Citas] CHECK CONSTRAINT [CK_Citas_Deposito]
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD  CONSTRAINT [CK_Citas_Estado] CHECK  (([Estado]='Reprogramada' OR [Estado]='Completada' OR [Estado]='Cancelada' OR [Estado]='Confirmada' OR [Estado]='Pendiente'))
GO
ALTER TABLE [dbo].[Citas] CHECK CONSTRAINT [CK_Citas_Estado]
GO
ALTER TABLE [dbo].[HorarioEstilista]  WITH CHECK ADD  CONSTRAINT [CK_HorarioEstilista_Dia] CHECK  (([DiaSemana]>=(0) AND [DiaSemana]<=(6)))
GO
ALTER TABLE [dbo].[HorarioEstilista] CHECK CONSTRAINT [CK_HorarioEstilista_Dia]
GO
ALTER TABLE [dbo].[HorarioEstilista]  WITH CHECK ADD  CONSTRAINT [CK_HorarioEstilista_Horas] CHECK  (([HoraInicio]<[HoraFin]))
GO
ALTER TABLE [dbo].[HorarioEstilista] CHECK CONSTRAINT [CK_HorarioEstilista_Horas]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [CK_Pagos_Metodo] CHECK  (([Metodo_DePago]='Transferencia' OR [Metodo_DePago]='Tarjeta' OR [Metodo_DePago]='Efectivo'))
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [CK_Pagos_Metodo]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [CK_Pagos_Monto] CHECK  (([Monto]>(0)))
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [CK_Pagos_Monto]
GO
ALTER TABLE [dbo].[Servicios]  WITH CHECK ADD  CONSTRAINT [CK_Servicios_Duracion] CHECK  (([DuracionMinutos]>(0)))
GO
ALTER TABLE [dbo].[Servicios] CHECK CONSTRAINT [CK_Servicios_Duracion]
GO
ALTER TABLE [dbo].[Servicios]  WITH CHECK ADD  CONSTRAINT [CK_Servicios_Precio] CHECK  (([Precio]>=(0)))
GO
ALTER TABLE [dbo].[Servicios] CHECK CONSTRAINT [CK_Servicios_Precio]
GO
ALTER TABLE [dbo].[Servicios]  WITH CHECK ADD  CONSTRAINT [CK_Servicios_Subtipo] CHECK  (([Tipo_DeServicio]='Cabello' AND ([Subtipo_DeServicio]='Completo' OR [Subtipo_DeServicio]='Tinte' OR [Subtipo_DeServicio]='Corte') OR [Tipo_DeServicio]='Uñas' AND ([Subtipo_DeServicio]='Completo' OR [Subtipo_DeServicio]='Pedicura' OR [Subtipo_DeServicio]='Manicura') OR [Tipo_DeServicio]='Spa' AND ([Subtipo_DeServicio]='Profesional' OR [Subtipo_DeServicio]='Premium' OR [Subtipo_DeServicio]='Sencillo')))
GO
ALTER TABLE [dbo].[Servicios] CHECK CONSTRAINT [CK_Servicios_Subtipo]
GO
ALTER TABLE [dbo].[Servicios]  WITH CHECK ADD  CONSTRAINT [CK_Servicios_Tipo] CHECK  (([Tipo_DeServicio]='Spa' OR [Tipo_DeServicio]='Uñas' OR [Tipo_DeServicio]='Cabello'))
GO
ALTER TABLE [dbo].[Servicios] CHECK CONSTRAINT [CK_Servicios_Tipo]
GO
USE [master]
GO
